.plants {
  border: 1px solid #E6FFDB;
  background: rgba(247, 255, 243, 0.50);
}
.each {
  border-radius: 10px;
}
.light {
  border: 1px solid #FDF0DD;
  background: rgba(255, 249, 245, 0.60);
}
.nutrients {
  border: 1px solid #EFEDFF;
  background: #F9FAFF;
}
.ph {
  border: 1px solid #FFEBED;
  background: rgba(255, 250, 245, 0.60);
}
.temperature {
  border: 1px solid #FDFDDD;
  background: rgba(255, 255, 235, 0.60);
}
.waterLevel {
  border: 1px solid #E3FAFF;
  background: rgba(250, 254, 255, 0.70);
}
.water {
  border: 1px solid #DDFFFC;
  background: rgba(244, 255, 254, 0.60);
}