.content {
  padding: 0 16px 22px 16px;
  background-color: #fff;
  height: calc(100% - 44px);
  overflow-y: auto;
  max-height: calc(100vh - 245px);
  .eachContent:not(:last-child)::after {
    content: " ";
    width: calc(100% - 18px);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #efefef;
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
}
