.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - 150px);
  overflow-y: auto;
  :global(.MuiPaper-root) {
    position: relative !important;
  }
  :global(.MuiBackdrop-root) {
    position: relative !important;
  }
}